<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cloud Tempest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% block head %}{% endblock %}
</head>

<div class="nav">
        <div class="container">
            <div class="navbar">
                <a href="{{ url_for('index') }}">
                    <i class="fas fa-home"></i>
                </a>
                <a href="{{ url_for('get_cities_by_temp') }}">Search by Temp</a>
                <a href="{{ url_for('get_weather') }}">Search by City</a>
                <a href="{{ url_for('Articles') }}">Articles</a>
            </div>
            <div class="external-links">
                <a href="https://github.com/cs23-b/Travel-planner" target="_blank">
                    <i class="fab fa-github"></i> 
                </a>
            </div>
        </div>
</div>
    {% block body %}{% endblock %}

</html>
