{% extends "base.html" %}

{% block head %}
    <title>Weather right now</title>
    <style>
        .bg2 {
            background-image: url("/static/images/ghibli_house.jpeg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        
            min-height: 100vh; 
            width: 100vw;
        
            display: flex;
            justify-content: center;
            align-items: flex-start; 
            padding: 100px 20px 40px 20px; 
            box-sizing: border-box;
        
            overflow-y: auto; 
        }
        .content {
            
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        
            text-align: center;
            color: black;
        
            transition: transform 0.3s ease;
            opacity: 0;
            animation: fadeInUp 1s ease forwards;
        
            gap: 20px;
            
            padding-top:20%;
        }
        .content{
            padding-top:10%;
        }
        
    </style>
{% endblock %}

{% block body %}
<div class="bg2">
<div class="content">
    <h1>Find Your Ideal Destination</h1>

    <form method="GET" action="{{ url_for('get_weather') }}">
        <label for="city">Enter City Name:</label>
        <input type="text" id="city" name="city" placeholder="e.g., New York" value="{{ city or '' }}" autocomplete="off" autofocus>
        <button type="submit">Search</button>
    </form>

    {% if error %}
        <p style="color:rgb(84, 78, 78);">{{ error }}</p>
    {% endif %}

    {% if weather_data %}
        <div class="weather-result">
            <h2>Weather in {{ weather_data.city }}</h2>
            <ul>
                <li><strong>Temperature:</strong> {{ weather_data.temperature }}°C</li>
                <li><strong>Humidity:</strong> {{ weather_data.humidity }}%</li>
                <li><strong>Condition:</strong> {{ weather_data.condition_text }}</li>
            </ul>
        </div>
    {% elif city %}
        <p>No weather data found for "{{ city }}".</p>
    {% endif %}
    {% if top_cities %}
    <div class="top-cities-box">
        <h3>Top 5 Most Searched Cities</h3>
        <ul class="top-cities-list">
            {% for city in top_cities %}
                <li>{{ city.city }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
</div>
</div>
{% endblock %}
